/* hero section styles */
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap");
/* hero section styles */
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  
}
.hero__left__wrapper {
  max-width: 350px;
}
.hero__imgWrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.hero__heading {
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);
  font-family: "Black And White Picture", system-ui;
}

.book {
  text-decoration: none;
  color: var(--base-text-2);
  margin-left: 2rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 19px;
}
.hero__info {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: var(--black-2);
}
.button__wrapper {
  text-align: center;
}
